.container{
    margin-bottom: 0.25em;
    display: flex;
}

.text {
    flex-grow: 1;
    height: 2em;
    align-items: center;
    display: flex;
    margin-left: 10px;
}

.icon{

}

.mTransparent{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}