.container{
    display: flex;
    min-width: 100vh;
}

.editor-container{
    /* flex-grow: 1; */
    align-self: stretch;
}

.result-container{
    background-color: cadetblue;
    flex-grow: 1;
    align-self: stretch;
}